In [3]:
import string
import numpy as np
import test

## 12/18

[Detect Pangram](https://www.codewars.com/kata/545cedaa9943f7fe7b000048/train/python)

In [29]:
s = 'The quick, brown fox jumps over the lazy dog!'

In [30]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [31]:
def is_pangram(s):
    remaining_letters = string.ascii_lowercase
    for letter in s.lower():
        if letter in remaining_letters:
            remaining_letters = remaining_letters.replace(letter, '')
    return (len(remaining_letters) == 0)

In [32]:
is_pangram(s)

True

In [33]:
is_pangram('is this?')

False

## 12/19

[Triple Double](https://www.codewars.com/kata/55d5434f269c0c3f1b000058/train/python)

In [50]:
num1 = 451999277
num2 = 41177722899

In [54]:
num1_list = [x for x in str(num1)]
num2_list = [x for x in str(num2)]

In [55]:
num1_list

['4', '5', '1', '9', '9', '9', '2', '7', '7']

In [57]:
def triple_double(num1, num2):
    num1_list = [x for x in str(num1)]
    num2_list = [x for x in str(num2)]
    n_triple = None
    for idx, n in enumerate(num1_list[:-2]):
        if n == num1_list[idx + 1] == num1_list[idx + 2]:
            n_triple = n
    if n_triple is None:
        return 0
    for idx, n in enumerate(num2_list):
        if n_triple == n == num2_list[idx + 1]:
            return 1
    return 0

In [58]:
triple_double(num1, num2)

1

## 12/23

[Greed is Good](https://www.codewars.com/kata/5270d0d18625160ada0000e4/train/python)

```
 Three 1's => 1000 points
 Three 6's =>  600 points
 Three 5's =>  500 points
 Three 4's =>  400 points
 Three 3's =>  300 points
 Three 2's =>  200 points
 One   1   =>  100 points
 One   5   =>   50 point
 ```

In [147]:
dice = [2, 4, 4, 5, 4]

In [148]:
dice

[2, 4, 4, 5, 4]

In [149]:
sum(100 for x in a if x == 4)

0

In [150]:
def score(dice):
    score = 0
    check = dice.copy()
    for n in range(1,7):
        if check.count(n) >= 3:
            for _ in range(3):
                check.remove(n)
            if n == 1:
                score += 1000
            else:
                score += (n * 100)
        if n == 1:
            score += sum(100 for num in check if num == 1)
        if n == 5:
            score += sum(50 for num in check if num == 5)    
    return score

In [152]:
score([3, 3, 6, 3, 5] )

350

## 12/15

[Easy Balance Checking](https://www.codewars.com/kata/easy-balance-checking)

Input:
```
"1000.00
125 Market 125.45
126 Hardware 34.95
127 Video 7.45
128 Book 14.32
129 Gasoline 16.10"
```

Output:
```
"Original_Balance:_1000.00
125_Market_125.45_Balance_874.55
126_Hardware_34.95_Balance_839.60
127_Video_7.45_Balance_832.15
128_Book_14.32_Balance_817.83
129_Gasoline_16.10_Balance_801.73
Total_expense__198.27
Average_expense__39.65"
```

In [4]:
b1 = """1000.00!=
125 Market !=:125.45
126 Hardware =34.95
127 Video! 7.45
128 Book :14.32
129 Gasoline ::16.10
"""

In [5]:
b1.split('\n')

['1000.00!=',
 '125 Market !=:125.45',
 '126 Hardware =34.95',
 '127 Video! 7.45',
 '128 Book :14.32',
 '129 Gasoline ::16.10',
 '']

In [6]:
b1_stripped = ''.join([char for char in b1 if char in (string.ascii_letters + string.digits + '\n' + ' ')])

In [7]:
b1_stripped

'100000\n125 Market 12545\n126 Hardware 3495\n127 Video 745\n128 Book 1432\n129 Gasoline 1610\n'

In [8]:
b1_list = b1_stripped.split('\n')

In [9]:
b1_list

['100000',
 '125 Market 12545',
 '126 Hardware 3495',
 '127 Video 745',
 '128 Book 1432',
 '129 Gasoline 1610',
 '']

In [10]:
balance = float(b1_list[0])

In [11]:
'Original_Balance:_{:.2f}'.format(balance)

'Original_Balance:_100000.00'

In [12]:
b1_list

['100000',
 '125 Market 12545',
 '126 Hardware 3495',
 '127 Video 745',
 '128 Book 1432',
 '129 Gasoline 1610',
 '']

In [61]:
def balance(b):
    from string import ascii_letters, digits
    chars_to_save = ascii_letters + digits + '\n' + ' ' + '.'
    b_stripped = (''.join([char for char in b if char in chars_to_save]))
    b_list = b_stripped.split('\n')
    while '' in b_list:
        b_list.remove('')
    balance = float(b_list[0])
    output = 'Original Balance: {:.2f}\r\n'.format(balance)
    expenses = []
    for line in b_list[1:]:
        entry = line.split()
        expense = float(entry[2])
        expenses.append(expense)
        balance -= expense
        output += ('{} {} {:.2f} Balance {:.2f}\r\n'.format(
            entry[0],
            entry[1],
            expense,
            balance
            ))
    output += ('Total expense  {:.2f}\r\n'.format(sum(expenses)))
    output += ('Average expense  {:.2f}'.format(sum(expenses)/len(expenses)))
    return output

In [62]:
 check = balance(b1)

In [60]:
print(_)

False

In [55]:
b1sol = """Original Balance: 1000.00\r
125 Market 125.45 Balance 874.55\r
126 Hardware 34.95 Balance 839.60\r
127 Video 7.45 Balance 832.15\r
128 Book 14.32 Balance 817.83\r
129 Gasoline 16.10 Balance 801.73\r
Total expense  198.27\r
Average expense  39.65"""

In [63]:
b1sol == check

True

TypeError: unsupported operand type(s) for -: 'str' and 'str'