In [138]:
import string
import numpy as np
import test

## 12/18

[Detect Pangram](https://www.codewars.com/kata/545cedaa9943f7fe7b000048/train/python)

In [29]:
s = 'The quick, brown fox jumps over the lazy dog!'

In [30]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [31]:
def is_pangram(s):
    remaining_letters = string.ascii_lowercase
    for letter in s.lower():
        if letter in remaining_letters:
            remaining_letters = remaining_letters.replace(letter, '')
    return (len(remaining_letters) == 0)

In [32]:
is_pangram(s)

True

In [33]:
is_pangram('is this?')

False

## 12/19

[Triple Double](https://www.codewars.com/kata/55d5434f269c0c3f1b000058/train/python)

In [50]:
num1 = 451999277
num2 = 41177722899

In [54]:
num1_list = [x for x in str(num1)]
num2_list = [x for x in str(num2)]

In [55]:
num1_list

['4', '5', '1', '9', '9', '9', '2', '7', '7']

In [57]:
def triple_double(num1, num2):
    num1_list = [x for x in str(num1)]
    num2_list = [x for x in str(num2)]
    n_triple = None
    for idx, n in enumerate(num1_list[:-2]):
        if n == num1_list[idx + 1] == num1_list[idx + 2]:
            n_triple = n
    if n_triple is None:
        return 0
    for idx, n in enumerate(num2_list):
        if n_triple == n == num2_list[idx + 1]:
            return 1
    return 0

In [58]:
triple_double(num1, num2)

1

## 12/23

[Greed is Good](https://www.codewars.com/kata/5270d0d18625160ada0000e4/train/python)

```
 Three 1's => 1000 points
 Three 6's =>  600 points
 Three 5's =>  500 points
 Three 4's =>  400 points
 Three 3's =>  300 points
 Three 2's =>  200 points
 One   1   =>  100 points
 One   5   =>   50 point
 ```

In [147]:
dice = [2, 4, 4, 5, 4]

In [148]:
dice

[2, 4, 4, 5, 4]

In [149]:
sum(100 for x in a if x == 4)

0

In [150]:
def score(dice):
    score = 0
    check = dice.copy()
    for n in range(1,7):
        if check.count(n) >= 3:
            for _ in range(3):
                check.remove(n)
            if n == 1:
                score += 1000
            else:
                score += (n * 100)
        if n == 1:
            score += sum(100 for num in check if num == 1)
        if n == 5:
            score += sum(50 for num in check if num == 5)    
    return score

In [152]:
score([3, 3, 6, 3, 5] )

350